<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tutorials</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="container">
        <h1>List of Tutorials</h1>
        <table>
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="tutorial : ${tutorials}">
                    <td th:text="${tutorial.title}">Title</td>
                    <td th:text="${tutorial.description}">Description</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
