<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Tutorial</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles.css}">
</head>
<body>
<h1>Update Tutorial</h1>
<form action="#" th:action="@{/tutorials/update/{id}(id=${tutorial.id})}" method="post" th:object="${tutorial}">
    <input type="hidden" id="id" name="id" th:field="*{id}">
    <label for="title">Title:</label>
    <input type="text" id="title" name="title" th:field="*{title}"><br>
    <label for="description">Description:</label>
    <input type="text" id="description" name="description" th:field="*{description}"><br>
    <label for="published">Published:</label>
    <input type="checkbox" id="published" name="published" th:field="*{published}"><br>
    <button type="submit">Submit</button>
</form>
<a href="/tutorials/all">Back to All Tutorials</a>
</body>
</html>
